@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
   Shridhar Pawar<br />
    Melbourne-Australia<br />
    <abbr title="Phone">P:</abbr>
    +61402636984
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">shridhar18pawar@gmail.com</a><br />
   
</address>