@{
    ViewBag.Title = "Home Page";
}
    <!DOCTYPE html>
    <html>
    <head>
        <style>
             html, body {
                height: 100%;
                margin: 0;
                min-height: 100vh;
                
            }



            .bg {
                /*background-image: url("restaurant.jpg");*/
                
                background-image: url('../../Content/food.jpg');
                /*opacity: 0.7;*/
                /* Full height */
                height: 100%;
                min-height: 100vh;
                /* Center and scale the image nicely */
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
            }
            p.heading {
            font-size: 50px;
            padding-top:80px;
            padding-left:350px;
            color:peru;
            filter:brightness(0.7);
            opacity: 1;
            }

            ul.content {
            font-size: 20px;
            padding-left:350px;
            padding-top:100px;
            }

             
        </style>
    </head>
<body>
    
        <div class="bg">
        @*<div class="jumbotron">
            <h1>ASP.NET</h1>
            <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
            <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
        </div>*@

        @*<div class="row">*@
            @*<div class="col-md-12">*@
                <p class="heading">Welcome to the Look & Book Web Application!</p>
                <ul class="content">
                    <li>Here you can search your favourite restaurants and get to know their details.</li>
                    <li>Make a reservation at a restaurant.</li>
                    <li>Get email confirmation whenever you make a reservation.</li>
                    <li>See nearby events.</li>
                    <li>Give rating to the restaurants and lot more!</li>
                </ul>
        
                @*<h2>Getting started</h2>
                <p>
                    ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                    enables a clean separation of concerns and gives you full control over markup
                    for enjoyable, agile development.
                </p>
                <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
            </div>
            <div class="col-md-4">
                <h2>Get more libraries</h2>
                <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
                <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
            </div>
            <div class="col-md-4">
                <h2>Web Hosting</h2>
                <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
                <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
            </div>*@
        @*</div>*@
    </div>
</body>
    </html>