<style>
    .carousel-inner > .item {
        height: 680px;
    }
</style>
<div id="mycarousel" class="carousel slide" data-interval="2500" @*data-pause="false"*@ data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#mycarousel" data-slide-to="0" class="active"></li>
        <li data-target="#mycarousel" data-slide-to="1"></li>
        <li data-target="#mycarousel" data-slide-to="2"></li>
        <li data-target="#mycarousel" data-slide-to="3"></li>
    </ol>
    <div class="carousel-inner">
        <div class="item active">
            <img src="~/Content/Food1.jpg" class="img-responsive" />
            <div class="carousel-caption">
                <h3>Amazing Restaurants near you!</h3>
                <p>
                    Here you can search your favourite restaurants and get to know their details. You
                    can also rate the restaurants and see interactive charts to compare the restaurants!
                </p>
            </div>
        </div>

        <div class="item">
            <img src="~/Content/Reservation.jpg" class="img-responsive" />
            <div class="carousel-caption">
                <h3>Reservation</h3>
                <p>Book a spot at a restaurant! Get an email confirming the booking.</p>
            </div>
        </div>

        <div class="item">
            <img src="~/Content/maps.jpg" class="img-responsive" />
            <div class="carousel-caption">
                <h3>Maps</h3>
                <p>Follow the events happening near you and visit them using our interesting map!</p>
            </div>
        </div>

        <div class="item">
            <img src="~/Content/Events.jpg" class="img-responsive" />
            <div class="carousel-caption">
                <h3>Events and newsletter</h3>
                <p>
                    Subscribe to our newsletter and get an email whenever a new restaurant or an event is
                    launched!
                </p>
            </div>
        </div>
    </div>

    <a class="left carousel-control" href="#mycarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    </a>

    <a class="right carousel-control" href="#mycarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    </a>

</div>


@*
        <!DOCTYPE html>
        <html>
        <head>
            <style>
                 html, body {
                    height: 100%;
                    margin: 0;
                    min-height: 100vh;

                }



                .bg {

                     background-image: url('../../Content/food.jpg');
                    height: 100%;
                    min-height: 100vh;

                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                }
                p.heading {
                font-size: 50px;
                padding-top:80px;
                padding-left:350px;
                color:peru;
                filter:brightness(0.7);
                opacity: 1;
                }

                ul.content {
                font-size: 20px;
                padding-left:350px;
                padding-top:100px;
                }


            </style>
        </head>
    <body>

            <div class="bg">

                    <p class="heading">Welcome to the Look & Book Web Application!</p>
                    <ul class="content">
                        <li>Here you can search your favourite restaurants and get to know their details.</li>
                        <li>Make a reservation at a restaurant.</li>
                        <li>Get email confirmation whenever you make a reservation.</li>
                        <li>See nearby events.</li>
                        <li>Give rating to the restaurants and lot more!</li>
                    </ul>


        </div>
    </body>
        </html>*@